//--------------------------模組載入--------------------------//
@import "reset";
@import "mixin";

//--------------------------變數--------------------------//
$linkcolor:black;
$font-l:20px;
$font-m:18px;
$font-s:16px;
$font-h1:48px;
$font-h2:40px;
$font-p:24px;
$font-style:"Noto Sans TC";
.active{
    border-bottom: 3px solid red;
}
//--------------------------header--------------------------//
.header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: #fff;
    position: fixed;
    width: 100%;
    z-index: 30;
}
.logo{
    margin-left: 50px;
    a{
        font-size: $font-l;
        color:$linkcolor;
        text-decoration: none;
        line-height: 80px;
        font-family: $font-style;
        font-weight: bold;
    }
}
.menu{
    ul{
        display: flex;
        margin-right: 50px;
        li{
            margin-left: 30px;
            a{
                font-size: $font-l;
                color: $linkcolor;
                text-decoration: none;
                line-height: 80px;
                font-family: $font-style;
                font-weight: bold;
                // border-right: 1px solid black;
            }
        }
    }
}
//--------------------------banner--------------------------//
#banner{
    @include bgc-cover();
    background-image: url("../img/bench-accounting-nvzvOPQW0gc-unsplash.jpg");
    height: 1000px;
}
.main-title{
    text-align: center;
    padding-top: 200px;
    h1{
        font-size: $font-h1;
    }
    p{
        line-height: 1.5em;
        letter-spacing: 0.5px;
        font-size: $font-p;
    }
}
//--------------------------about--------------------------//
#about{
    @include bgc-cover();
    // background-color: rgb(220, 224, 231);
    background-image: url('../img/about-bgc.jpg');
    .container{
        display: flex;
        flex-direction: column;
        max-width: 1140px;
        margin: 0 auto;
        padding-top: 30px;
        .about-title{
            text-align: center;
            padding-top: 80px;
            padding-bottom: 40px;
            h2{
                font-size: $font-h2 ;
            }
            hr{
                width: 50px;
                height: 4px ;
                margin: 30px auto;
                background-color: rgb(240, 70, 64);
            }
        }
        .about-content{
            display: flex;
            .about-img{
                width: 50%;
                margin-right: 30px;
                img{
                    width: 100%;
                }
            }
            .about-artical{
                width: 100%;
                p{
                    line-height: 2em;
                    font-size: $font-p;
                    font-family: $font-style;
                }
            }
        }
        .resume{
            text-align: right;
            padding-top: 30px;
            padding-bottom: 30px;
            width: 100%;
            a{
                background-color:#f5f5f5;
                border-radius: 10px;
                text-decoration: none;
                font-size: $font-s;
                font-weight: bold;
                padding: 10px 20px;
                color:$linkcolor;
                &:hover{
                    background-color: black;
                    color: white;
                }
            }
        }
    }
    
}
//--------------------------skill--------------------------//
#skill{
    min-height: 600px;
    background-color: #fff;
    .container{
        display: flex;
        flex-direction: column;
        max-width: 1140px;
        margin: 0 auto;
        .skill-title{
            text-align: center;
            padding-top: 80px;
            padding-bottom: 40px;
            h2{
                font-size: $font-h2 ;
            }
            hr{
                width: 50px;
                height: 4px ;
                margin: 30px auto;
                background-color: rgb(240, 70, 64);
            }
        }
        ul{
            display: flex;
            li{
               width: 30%;
               margin-left: 10%;
               .skill-box{
                    display:  flex;
                    align-items: center;
                    justify-content:  center;
                    background-color: rgb(236, 215, 215);
                    border-radius: 50%;
                    width: 150px;
                    height: 150px;
                    max-width:  100%;
                    transform: rotate(0) scale(1);
                    transition: transform 0.3s;
                    overflow: hidden;
                   img{
                        width: 60%;
                   }
                   &:hover{
                    transform: rotate(1080deg) scale(1.3);
                    background: none;
                   }
               }
               .skill-main{
                   padding-top: 10px;
                   h3{
                    text-indent: 13%;
                    padding-bottom: 10px;
                    font-size: $font-l;
                    font-weight: bold;
                   }
                   p{
                    color: #777;
                    line-height: 1.4;
                    font-size: $font-s;
                    font-family: $font-style;
                   }
               }
            }
        }
    }
    
}
//--------------------------works--------------------------//
#works{
    @include bgc-cover();
    background-image: url("../img/work-banner.jpg");
    // height: 800px;
    .container{
        max-width: 1140px;
        margin: 0 auto;
        .works-title{
            text-align: center;
            padding-top: 80px;
            padding-bottom: 40px;
            h2{
                font-size: $font-h2 ;
            }
            hr{
                width: 50px;
                height: 4px ;
                margin: 30px auto;
                background-color: rgb(240, 70, 64);
            }
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 50px;
            li{
                width: 31.3333%;
                margin-right: 1%;
                margin-left: 1%;
                margin-top: 1%;
                .work-box{
                    position: relative;
                    width: 100%;
                    max-width: 320px;
                    height: 100%;
                    max-height: 200px;
                    margin: 5px auto;
                    a{
                       display: block;
                       img{
                           width: 100%;
                           height: 100%;
                       }
                       .info{
                        position: absolute;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        font-weight: bold;
                        font-size: $font-m;
                        padding-top: 70px;
                        color: #fff;
                        line-height: 25px;
                        text-shadow: 0px 0px 3px hsla(0, 0%, 0%, 0.7);
                        background-color: rgba(0, 0, 0, 0.6);
                        letter-spacing: 0.75px;
                        opacity: 1;
                        &:hover{
                            opacity: 0;
                            transition: all 1s;
                        }
                       }
                    }
                }
            }
        }
    }
    
}

//--------------------------contact--------------------------//
#contact{
    background-color: #fff;
    padding-top: 80px;
    padding-bottom: 40px;
    .container{
        display: flex;
        flex-direction: column;
        max-width: 1140px;
        margin: 0 auto;
        .contact-title{
            text-align: center;
            padding-top: 30px;
            padding-bottom: 30px;
            h2{
                font-size: $font-h2 ;
            }
            hr{
                width: 50px;
                height: 4px ;
                margin: 30px auto;
                background-color: rgb(240, 70, 64);
            }
        }
        .contact-mug{
            text-align: center;
            img{
                width: 250px;
                border-radius: 50%;
                border: 7px solid #eee;
                margin: 15px 0;
            }
        }
        .community{
            text-align: center;
            padding-bottom: 30px;
            h2{
                font-size: $font-m;
                font-weight: bold;
            }
            p{
                font-size: $font-s;
                letter-spacing: 1.4px;
                img{
                    width: 20px;
                    margin-top:10px;
                    margin-right: 5px;
                }
            }
            ul{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 10px;
                li{
                    margin:10px;
                    a{
                        display: block;
                        img{
                            width: 30px;
                        }
                    }
                }
            }
        }
    }
}
//--------------------------footer--------------------------//
.footer{
    background-color: rgb(34, 31, 31);
    height: 80px;
    margin-top: 40px;
    .copyright{
        text-align: center;
        h4{
            color: #fff;
            font-size: $font-m;
            font-weight: bold;
            line-height: 80px;
            letter-spacing: 1.4px;
        }
    }
}